@import "header.css";
@import "footer.css";


/*
#F2D8B3
#FBD266
#8FB0A9
#D76735


*/


*{
  box-sizing: border-box;
}

body {
    background-color: #fffafa;
    margin:0px;
}



h2{
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 48px;
  font-weight: 900;
}

p {
Font-Family: 'Source Sans Pro', Sans-Serif;
Font-Size: 17px;
}


.blog-header {
  grid-area: header;
}

.blog-main {
  grid-area: main;
  background-color:hsla(0deg, 100%, 99%,1);
  margin-top:85px;
}

.blog-sidebar {
  grid-area: sidebar;
  max-width: 300px;
  margin-top:85px;
}

.blog-footer {
  grid-area: footer;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
}

.blog-sidebar {
  color:hsla(0deg, 0%, 55%,1);
}

.blog-sidebar-picture {
  border-bottom:3px solid #FBD266;
  display:flex;
  justify-content: center;
  align-items: center;
}

.blog-post-subtitle {
  color: #8FB0A9;
}

.blog-post-linktotext {
  color:#D76735;
  cursor:pointer;
}


  @media (min-width: 768px) {
    .container {
      grid-template-columns: repeat (6, 1fr);
      grid-template-areas:
        "header header header header header header"
        "main main main main sidebar sidebar"
        "footer footer footer footer footer footer";
     }
  }

  @media (min-width: 1200px) {
   .blog-main {
     /* margin: 0 25vw; */
   }


    .blog-main {
    margin-left:15vw;
    }
   .blog-sidebar {
    margin-right:15vw;
    }


  }