@import "header.css";
@import "footer.css";
@import "post.css";



*{
  box-sizing: border-box;
}

body {
    background-color: #fffafa;
    margin:0px;
}

h1{
  font-Family: 'Source Sans Pro', Sans-Serif;
  font-Size: 32px;
  font-weight: 400;
  text-align:center;
  color: #3f5a54;
  border-bottom:1px solid #3f5a54;
  opacity: 0;
}

h2{
  font-Family: 'Playfair Display', Serif;
  font-Size: 48px;
  font-weight: 900;
}

h3 {
  font-Family: 'Source Sans Pro', Sans-Serif;
  font-Size: 18px;
}

p {
font-Family: 'Source Sans Pro', Sans-Serif;
font-Size: 17px;
}

strong {
  color:#803a19;
}


.blog-header {
  grid-area: header;
}

.blog-main {
  grid-area: main;
  background-color:hsla(0deg, 100%, 99%,1);
  margin-top:85px;
}

.blog-sidebar {
  grid-area: sidebar;
  max-width: 300px;
  margin-top:85px;
}

.blog-footer {
  grid-area: footer;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
}

.blog-sidebar {
  color:hsla(0deg, 0%, 35%,1);
}

.blog-sidebar-picture {
  display:flex;
  justify-content: center;
  align-items: center;
}

.blog-sidebar .social-buttons{
  display:flex;
  justify-content: flex-end;
}

.blog-sidebar .social-buttons{
  display:flex;
  justify-content: flex-end;
}

.blog-sidebar .social-buttons button{
  margin-left:.5rem;
  padding: .25rem 1rem;
  border:0;
  border-radius: 3px;
  background-color:#3f5a54;
  cursor:pointer;
  color:white;
}


.blog-post-subtitle {
  color:#3f5a54;
}

.blog-post-linktotext {
  color:##803a19;
  cursor:pointer;
}

.blog-post-linktotext a{
  text-decoration: none;
  color: #803a19;
}


  @media (min-width: 768px) {
    .container {
      grid-template-columns: repeat (6, 1fr);
      grid-template-areas:
        "header header header header header header"
        "main main main main sidebar sidebar"
        "footer footer footer footer footer footer";
     }
  }

  @media (min-width: 1200px) {
   .blog-main {
     /* margin: 0 25vw; */
   }


    .blog-main {
    margin-left:15vw;
    }
   .blog-sidebar {
    margin-right:15vw;
    margin-left:3vw;
    }


  }

  @media (max-width: 1200px) {
    .blog-main {
      margin-left:3vw;
      margin-right:3vw;
    }
    .blog-sidebar {
     margin: 85px auto;
     }
 
 
   }

   .blog-post:not(:last-child) {
     border-bottom: 1px solid lightgray;
   }

   .blog-post-title {
     margin-bottom:.5rem;
   }