.post-hero {
  height: 100vh;
  background-image: url(../images/les-anderson-DPbGPXcmjck-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



.post-text p {
  font-Family: 'Source Sans Pro', Sans-Serif;
  font-size:1.3rem;
  line-height: 1.75rem;
  font-weight:100;
  margin-top: 2.5rem;
  color:hsla(0deg, 0%, 30%, 1);
}

.post-title {
  margin-bottom:.75rem;
}

.post-subtitle {
  color:#666666;
  font-weight:700;
}

.post-author {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}

.post-author-image{
  display: flex;
}

.post-author-name-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size:1.5rem;
  line-height: 2rem;
  margin-left:.5rem;
  Font-Family: 'Source Sans Pro', Sans-Serif;
}

.post-author-name {
  color:#D76735;
  font-weight: bold;
}
.post-author-date {
  color:#666666;
  font-size: 1.25rem;
}

.post-author-image img{
  border:2px solid white;
  border-radius:50%;
  width:100px;
  background-color: #4586a8;
}

.post-author-social{
  max-width:200px;
}

.post-author-social img{
  max-width:33px;
  margin-left:.5rem;
  fill:red;
}

.post-main {
  margin:0 20vw;
}

.post-text figure img{
  max-width:100%;
  margin: 0 auto;
}

.post-text figure figcaption {
  text-align:center;
}

blockquote p {
  font-style: italic;
}
